<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anonymization API</title>
</head>
<body>
    <h1>Anonymization API Backend</h1>
    <h2>Endpoint Directory</h2>

    <p style="margin:0;">TextReplace</p>
    <ul style="margin-block-start:0.5em;">
        <li><a href="/api/anonymize/text">Endpoint</a> (/api/anonymize/text)</li>
        <li><a href="/api/anonymize/text.help.html">HTML Outline</a> (/api/anonymize/text.help.html)</li>
        <li><a href="/api/anonymize/text.help.json">JSON Outline</a> (/api/anonymize/text.help.json)</li>
    </ul>

    <p style="margin:0;">TextFileReplace</p>
    <ul style="margin-block-start:0.5em;">
        <li><a href="/api/anonymize/file/txt">Endpoint</a> (/api/anonymize/file/txt)</li>
        <li><a href="/api/anonymize/file/txt.help.html">HTML Outline</a> (/api/anonymize/file/txt.help.html)</li>
        <li><a href="/api/anonymize/file/txt.help.json">JSON Outline</a> (/api/anonymize/file/txt.help.json)</li>
    </ul>

    <p style="margin:0;">CSVFileReplace</p>
    <ul style="margin-block-start:0.5em;">
        <li><a href="/api/anonymize/file/csv">Endpoint</a> (/api/anonymize/file/csv)</li>
        <li><a href="/api/anonymize/file/csv.help.html">HTML Outline</a> (/api/anonymize/file/csv.help.html)</li>
        <li><a href="/api/anonymize/file/csv.help.json">JSON Outline</a> (/api/anonymize/file/csv.help.json)</li>
    </ul>
</body>
</html>