<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anonymization API</title>
</head>
<body>
    <h1>Anonymization API Backend</h1>
    <h2>Endpoint Directory</h2>

    <p style="margin:0;">TextReplace</p>
    <ul style="margin-block-start:0.5em;">
        <li><a href="/anon/text-replace">Endpoint</a> (/anon/text-replace)</li>
        <li><a href="/anon/text-replace.help.html">HTML Outline</a> (/anon/text-replace.help.html)</li>
        <li><a href="/anon/text-replace.help.json">JSON Outline</a> (/anon/text-replace.help.json)</li>
    </ul>

    <p style="margin:0;">TextFileReplace</p>
    <ul style="margin-block-start:0.5em;">
        <li><a href="/anon/text-file-replace">Endpoint</a> (/anon/text-file-replace)</li>
        <li><a href="/anon/text-file-replace.help.html">HTML Outline</a> (/anon/text-file-replace.help.html)</li>
        <li><a href="/anon/text-file-replace.help.json">JSON Outline</a> (/anon/text-file-replace.help.json)</li>
    </ul>

    <p style="margin:0;">CSVFileReplace</p>
    <ul style="margin-block-start:0.5em;">
        <li><a href="/anon/csv-file-replace">Endpoint</a> (/anon/csv-file-replace)</li>
        <li><a href="/anon/csv-file-replace.help.html">HTML Outline</a> (/anon/csv-file-replace.help.html)</li>
        <li><a href="/anon/csv-file-replace.help.json">JSON Outline</a> (/anon/csv-file-replace.help.json)</li>
    </ul>
</body>
</html>